In [1]:
from PipelineTS.dataset import LoadWebSales

In [2]:
init_data = LoadWebSales()[['date', 'type_a']]

In [3]:
valid_data = init_data.iloc[-61:, :]
data = init_data.iloc[:-61, :]
data.tail(5)

            date  type_a
2023  2021-07-10   10094
2024  2021-07-11    9603
2025  2021-07-12   10700
2026  2021-07-13    9854
2027  2021-07-14    9486

# WideGBRTModel

In [4]:
from PipelineTS.ml_model import WideGBRTModel

wide_gbrt = WideGBRTModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)
wide_gbrt.fit(data)

In [5]:
wide_gbrt.predict(31)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15   8749.498207   7582.506411   9916.490004
1  2021-07-16  10538.456234   9132.856543  11944.055925
2  2021-07-17  10927.639383   9470.131168  12385.147599
3  2021-07-18  11712.159335  10150.013308  13274.305362
4  2021-07-19  12658.266367  10969.930344  14346.602390
5  2021-07-20  12436.389973  10777.647410  14095.132536
6  2021-07-21  13127.083656  11376.217655  14877.949658
7  2021-07-22  12045.810946  10439.163087  13652.458804
8  2021-07-23  11432.476142   9907.633739  12957.318545
9  2021-07-24  10907.364984   9452.560930  12362.169037
10 2021-07-25  11143.634542   9657.317294  12629.951790
11 2021-07-26  10984.028885   9518.999543  12449.058227
12 2021-07-27  10401.607669   9014.260585  11788.954752
13 2021-07-28  11463.567204   9934.577933  12992.556476
14 2021-07-29  10524.781485   9121.005707  11928.557263
15 2021-07-30  10461.753896   9066.384620  11857.123171
16 2021-07-31  10102.276092   8754.853297  11449.698886
17 2021-08-01   9277.839555   8040.378572  10515.300538
18 2021-08-02   9261.520040   8026.235724  10496.804356
19 2021-08-03   8862.036697   7680.034726  10044.038668
20 2021-08-04   9732.573982   8434.461367  11030.686597
21 2021-08-05   9904.286782   8583.271434  11225.302131
22 2021-08-06   9877.024971   8559.645752  11194.404190
23 2021-08-07   9542.299492   8269.565335  10815.033649
24 2021-08-08   9274.987293   8037.906740  10512.067846
25 2021-08-09   9531.711466   8260.389520  10803.033412
26 2021-08-10   9857.910972   8543.081143  11172.740802
27 2021-08-11  10375.999144   8992.067678  11759.930610
28 2021-08-12   9860.975935   8545.737307  11176.214564
29 2021-08-13  10196.356659   8836.385574  11556.327745
30 2021-08-14  11745.526867  10178.930340  13312.123393

# ProphetModel

In [6]:
from PipelineTS.statistic_model import ProphetModel
model = ProphetModel(time_col='date', target_col='type_a', quantile=0.9)

In [7]:
model.fit(data)

In [8]:
model.predict(30)

         date       type_a  type_a_lower  type_a_upper
0  2021-07-15  7799.317820   7699.014535   7899.621104
1  2021-07-16  7276.720797   7183.138382   7370.303211
2  2021-07-17  5125.854089   5059.932939   5191.775239
3  2021-07-18  4876.969166   4814.248805   4939.689526
4  2021-07-19  9425.121478   9303.909513   9546.333443
5  2021-07-20  8911.714179   8797.104899   9026.323459
6  2021-07-21  8511.672969   8402.208427   8621.137511
7  2021-07-22  8180.260887   8075.058477   8285.463297
8  2021-07-23  7737.343102   7637.836845   7836.849359
9  2021-07-24  5633.627255   5561.175878   5706.078632
10 2021-07-25  5400.249512   5330.799494   5469.699529
11 2021-07-26  9934.057701   9806.300552  10061.814851
12 2021-07-27  9379.085608   9258.465688   9499.705528
13 2021-07-28  8913.634648   8799.000670   9028.268626
14 2021-07-29  8496.974703   8387.699188   8606.250217
15 2021-07-30  7953.477708   7851.191847   8055.763568
16 2021-07-31  5738.713589   5664.910747   5812.516431
17 2021-08-01  5388.883117   5319.579277   5458.186957
18 2021-08-02  9805.943714   9679.834177   9932.053251
19 2021-08-03  9138.927014   9021.395658   9256.458369
20 2021-08-04  8570.869129   8460.643294   8681.094965
21 2021-08-05  8065.369893   7961.645041   8169.094745
22 2021-08-06  7450.598869   7354.780292   7546.417446
23 2021-08-07  5185.281463   5118.596046   5251.966880
24 2021-08-08  4808.042888   4746.208955   4869.876820
25 2021-08-09  9222.468518   9103.862775   9341.074260
26 2021-08-10  8578.381258   8468.058813   8688.703703
27 2021-08-11  8058.757864   7955.118046   8162.397683
28 2021-08-12  7626.300699   7528.222505   7724.378893
29 2021-08-13  7107.482105   7016.076188   7198.888022

# AutoARIMA

In [9]:
from PipelineTS.statistic_model import AutoARIMAModel

In [10]:
auto_arima = AutoARIMAModel(time_col='date', target_col='type_a', quantile=0.9)
auto_arima.fit(data=data)

In [11]:
auto_arima.predict(40)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15   9613.791349   7628.260761  11599.321938
1  2021-07-16   9607.376926   7623.171105  11591.582747
2  2021-07-17  10047.700287   7972.554745  12122.845829
3  2021-07-18   9904.772544   7859.145784  11950.399305
4  2021-07-19  10255.825701   8137.696141  12373.955260
5  2021-07-20  10007.131167   7940.364341  12073.897993
6  2021-07-21   9863.232608   7826.185066  11900.280151
7  2021-07-22   9939.151044   7886.424113  11991.877976
8  2021-07-23   9959.854247   7902.851496  12016.856999
9  2021-07-24  10077.331445   7996.066198  12158.596693
10 2021-07-25  10015.029144   7946.631154  12083.427134
11 2021-07-26  10114.802018   8025.797995  12203.806040
12 2021-07-27  10028.563858   7957.370551  12099.757164
13 2021-07-28   9959.449254   7902.530145  12016.368363
14 2021-07-29   9983.971800   7921.988065  12045.955536
15 2021-07-30   9991.126110   7927.664799  12054.587421
16 2021-07-31  10012.943600   7944.976336  12080.910864
17 2021-08-01   9981.842689   7920.298678  12043.386701
18 2021-08-02  10009.041120   7941.879832  12076.202407
19 2021-08-03   9979.308183   7918.287621  12040.328745
20 2021-08-04   9949.659463   7894.762234  12004.556692
21 2021-08-05   9959.290977   7902.404557  12016.177396
22 2021-08-06   9965.178873   7907.076429  12023.281317
23 2021-08-07   9969.550839   7910.545456  12028.556223
24 2021-08-08   9958.684823   7901.923592  12015.446055
25 2021-08-09   9969.923649   7910.841269  12029.006028
26 2021-08-10   9963.302149   7905.587304  12021.016994
27 2021-08-11   9953.975053   7898.186528  12009.763579
28 2021-08-12   9960.202919   7903.128156  12017.277682
29 2021-08-13   9965.847303   7907.606809  12024.087797
30 2021-08-14   9967.977389   7909.296969  12026.657808
31 2021-08-15   9965.251832   7907.134320  12023.369344
32 2021-08-16   9970.843156   7911.570871  12030.115440
33 2021-08-17   9970.335922   7911.168396  12029.503448
34 2021-08-18   9967.402953   7908.841171  12025.964734
35 2021-08-19   9970.277902   7911.122359  12029.433445
36 2021-08-20   9973.154235   7913.404645  12032.903826
37 2021-08-21   9973.530084   7913.702870  12033.357299
38 2021-08-22   9972.190208   7912.639717  12031.740698
39 2021-08-23   9974.085043   7914.143213  12034.026872

# GBDT

In [12]:
from PipelineTS.ml_model import *

## CatBoost

In [13]:
cbt = CatBoostModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)
cbt.fit(data=data)

In [14]:
cbt.predict(30)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15  10116.587161   9568.361423  11156.102723
1  2021-07-16  11020.208037  10517.793382  11790.746830
2  2021-07-17  10810.933551  10366.224177  12430.527327
3  2021-07-18  11096.973427  10726.696870  12141.420453
4  2021-07-19  11075.392439  10539.818956  13067.411089
5  2021-07-20  11120.897243  10554.098426  12854.736258
6  2021-07-21  11681.372311  11064.011450  13200.723904
7  2021-07-22  11919.195378  11182.472450  13312.469791
8  2021-07-23  12079.207460  11279.408661  14465.130339
9  2021-07-24  12794.387701  11660.091064  14618.836283
10 2021-07-25  12989.860885  12381.842609  14629.246462
11 2021-07-26  12761.918223  12578.319574  15397.040419
12 2021-07-27  13460.335691  12335.983712  15164.214425
13 2021-07-28  13258.471434  12396.053628  15454.132475
14 2021-07-29  13530.989003  12515.565656  15095.995761
15 2021-07-30  12667.256204  12712.197623  15505.532636
16 2021-07-31  12739.637172  13017.493342  15049.070859
17 2021-08-01  12635.167617  12482.970365  15026.208112
18 2021-08-02  13304.705451  12355.201734  14605.870471
19 2021-08-03  12860.214816  12665.636893  14541.029035
20 2021-08-04  13180.204272  12479.082247  15431.899719
21 2021-08-05  13189.096696  12608.703647  15818.943665
22 2021-08-06  12683.500526  12372.734218  15446.471516
23 2021-08-07  12830.798444  13110.310417  15346.628665
24 2021-08-08  13591.153584  12902.456223  15462.424946
25 2021-08-09  12477.911005  12597.058194  15663.745774
26 2021-08-10  13306.223456  12706.625648  16702.675215
27 2021-08-11  12757.666329  12501.409673  16586.724196
28 2021-08-12  13407.217524  11980.638567  15626.006217
29 2021-08-13  13915.556913  12410.752776  16156.704007

## XGBoost

In [15]:
xgb = XGBoostModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)
xgb.fit(data=data)

In [16]:
xgb.predict(30)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15  10654.655273   8261.059570  13048.250977
1  2021-07-16  12009.849609   9311.806641  14707.892578
2  2021-07-17  11506.630859   8921.636719  14091.625000
3  2021-07-18  11093.751953   8601.512695  13585.991211
4  2021-07-19  11819.616211   9164.309570  14474.922852
5  2021-07-20  13092.085938  10150.916016  16033.255859
6  2021-07-21  14712.363281  11407.193359  18017.533203
7  2021-07-22  13415.467773  10401.649414  16429.287109
8  2021-07-23  13607.886719  10550.840820  16664.933594
9  2021-07-24  13951.577148  10817.320312  17085.833984
10 2021-07-25  14465.479492  11215.772461  17715.185547
11 2021-07-26  13316.998047  10325.300781  16308.695312
12 2021-07-27  15216.672852  11798.208984  18635.136719
13 2021-07-28  12611.094727   9777.980469  15444.208984
14 2021-07-29  14517.682617  11256.248047  17779.117188
15 2021-07-30  12340.341797   9568.052734  15112.630859
16 2021-07-31  11628.039062   9015.770508  14240.307617
17 2021-08-01  12611.127930   9778.005859  15444.250000
18 2021-08-02  14113.524414  10942.885742  17284.164062
19 2021-08-03  13380.250977  10374.343750  16386.158203
20 2021-08-04  13448.946289  10427.606445  16470.285156
21 2021-08-05  13364.909180  10362.448242  16367.370117
22 2021-08-06  12011.216797   9312.866211  14709.567383
23 2021-08-07  15230.041016  11808.574219  18651.507812
24 2021-08-08  14855.871094  11518.461914  18193.279297
25 2021-08-09  13892.917969  10771.838867  17013.998047
26 2021-08-10  13124.388672  10175.961914  16072.815430
27 2021-08-11  15293.620117  11857.870117  18729.371094
28 2021-08-12  13938.294922  10807.021484  17069.568359
29 2021-08-13  16350.206055  12677.090820  20023.320312

## LightGBM

In [17]:
lgb = LightGBMModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)
lgb.fit(data=data)

In [18]:
lgb.predict(30)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15  10154.671712   9109.796994  11638.569512
1  2021-07-16  10289.449992   8771.675034  12276.503823
2  2021-07-17  10319.511157   8751.073256  12604.526509
3  2021-07-18  10348.146822   9247.544093  13757.795071
4  2021-07-19  11698.661485   9704.824230  13213.340909
5  2021-07-20  11349.030544  10441.121268  13600.255447
6  2021-07-21  11538.765056  11501.437149  14372.343618
7  2021-07-22  11900.846536  11672.142466  14676.950801
8  2021-07-23  12377.892438  11768.474257  14736.702548
9  2021-07-24  12766.077846  12420.983293  15500.235561
10 2021-07-25  12753.983162  12454.205492  15380.748562
11 2021-07-26  13072.811473  12986.905894  15488.532444
12 2021-07-27  14073.369712  12847.483417  15708.891336
13 2021-07-28  14265.480146  13380.099320  15769.329511
14 2021-07-29  14092.530881  13457.708526  15635.883535
15 2021-07-30  14482.883679  13109.826461  15967.814406
16 2021-07-31  13503.310256  12783.990781  15588.164282
17 2021-08-01  13475.192242  12679.792663  15854.515479
18 2021-08-02  13599.913881  12409.155614  15593.586572
19 2021-08-03  12268.227224  12056.351477  15761.393629
20 2021-08-04  13544.087007  12199.988753  16289.673840
21 2021-08-05  13112.277847  12147.670037  16109.911197
22 2021-08-06  12695.003528  12274.146279  16495.983404
23 2021-08-07  13635.303182  12050.188934  16369.708017
24 2021-08-08  13264.534712  11858.707485  16828.573911
25 2021-08-09  13943.356928  12403.744822  16161.552586
26 2021-08-10  14160.880731  12901.452855  16582.700722
27 2021-08-11  13934.587080  12250.728147  18608.092271
28 2021-08-12  14901.005057  12654.250074  18329.653969
29 2021-08-13  16085.881869  12413.746984  18052.424733

## RandomForest

In [19]:
rf = RandomForestModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)
rf.fit(data=data)

In [20]:
rf.predict(30)

         date    type_a  type_a_lower  type_a_upper
0  2021-07-15  11214.85   8850.845398  13578.854602
1  2021-07-16  11564.08   9126.460385  14001.699615
2  2021-07-17  12039.05   9501.310342  14576.789658
3  2021-07-18  12642.92   9977.889164  15307.950836
4  2021-07-19  12863.96  10152.335623  15575.584377
5  2021-07-20  12780.77  10086.681439  15474.858561
6  2021-07-21  14210.24  11214.830096  17205.649904
7  2021-07-22  14214.28  11218.018495  17210.541505
8  2021-07-23  13713.79  10823.027959  16604.552041
9  2021-07-24  13954.97  11013.369060  16896.570940
10 2021-07-25  13922.41  10987.672459  16857.147541
11 2021-07-26  13634.86  10760.735799  16508.984201
12 2021-07-27  13326.55  10517.415189  16135.684811
13 2021-07-28  13191.75  10411.029998  15972.470002
14 2021-07-29  13065.20  10311.155770  15819.244230
15 2021-07-30  13245.97  10453.820837  16038.119163
16 2021-07-31  13226.16  10438.186633  16014.133367
17 2021-08-01  13014.95  10271.498086  15758.401914
18 2021-08-02  12721.04  10039.542066  15402.537934
19 2021-08-03  12513.88   9876.049809  15151.710191
20 2021-08-04  12555.86   9909.180746  15202.539254
21 2021-08-05  12771.34  10079.239211  15463.440789
22 2021-08-06  12961.86  10229.599052  15694.120948
23 2021-08-07  13104.81  10342.416285  15867.203715
24 2021-08-08  13321.00  10513.035087  16128.964913
25 2021-08-09  13523.59  10672.920664  16374.259336
26 2021-08-10  13747.64  10849.742638  16645.537362
27 2021-08-11  13934.19  10996.969325  16871.410675
28 2021-08-12  14243.01  11240.692431  17245.327569
29 2021-08-13  14353.55  11327.931444  17379.168556

# NN Model

In [4]:
from PipelineTS.nn_model import *

## DLinearModel

In [22]:
d_linear = DLinearModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)

In [23]:
d_linear.fit(data)
d_linear.predict(30)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15   9544.323242   7684.914062  11403.732422
1  2021-07-16  10001.357422   8052.909668  11949.805664
2  2021-07-17   9959.427734   8019.148926  11899.707031
3  2021-07-18   9585.663086   7718.200195  11453.125977
4  2021-07-19   9950.253906   8011.762207  11888.746094
5  2021-07-20   9850.069336   7931.095215  11769.043945
6  2021-07-21   9985.506836   8040.146973  11930.867188
7  2021-07-22   9700.318359   7810.518555  11590.118164
8  2021-07-23   9890.510742   7963.658203  11817.364258
9  2021-07-24   9858.060547   7937.529785  11778.591797
10 2021-07-25   9845.638672   7927.527832  11763.750000
11 2021-07-26  10241.940430   8246.623047  12237.258789
12 2021-07-27   9752.432617   7852.479980  11652.385742
13 2021-07-28   9923.318359   7990.074219  11856.563477
14 2021-07-29   9541.040039   7682.270508  11399.809570
15 2021-07-30   9291.289062   7481.175781  11101.403320
16 2021-07-31   9287.474609   7478.104492  11096.845703
17 2021-08-01   9020.708008   7263.309082  10778.107422
18 2021-08-02   9453.610352   7611.874023  11295.347656
19 2021-08-03   8850.928711   7126.605469  10575.251953
20 2021-08-04   8937.971680   7196.690918  10679.252930
21 2021-08-05   8661.308594   6973.927246  10348.690430
22 2021-08-06   8759.726562   7053.171387  10466.282227
23 2021-08-07   9004.757812   7250.465820  10759.049805
24 2021-08-08   8807.980469   7092.024414  10523.936523
25 2021-08-09   9394.369141   7564.173828  11224.564453
26 2021-08-10   9197.202148   7405.418457  10988.986328
27 2021-08-11   9397.705078   7566.859863  11228.550781
28 2021-08-12   9513.952148   7660.459961  11367.445312
29 2021-08-13   9628.784180   7752.920410  11504.648438

##  NLinearModel

In [24]:
n_linear = NLinearModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)

In [25]:
n_linear.fit(data)
n_linear.predict(30)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15   9820.378906   7881.794434  11758.963867
1  2021-07-16   9875.342773   7925.908203  11824.777344
2  2021-07-17  10041.634766   8059.373047  12023.896484
3  2021-07-18   9965.751953   7998.470215  11933.034180
4  2021-07-19  10491.192383   8420.186523  12562.198242
5  2021-07-20  10176.806641   8167.861816  12185.751953
6  2021-07-21  10082.493164   8092.166016  12072.820312
7  2021-07-22   9989.190430   8017.281738  11961.099609
8  2021-07-23  10057.761719   8072.316895  12043.207031
9  2021-07-24   9888.271484   7936.284668  11840.258789
10 2021-07-25   9715.655273   7797.743652  11633.567383
11 2021-07-26  10094.050781   8101.441895  12086.659180
12 2021-07-27   9684.075195   7772.397461  11595.752930
13 2021-07-28   9336.232422   7493.220215  11179.244141
14 2021-07-29   9151.476562   7344.936035  10958.016602
15 2021-07-30   9307.017578   7469.772461  11144.262695
16 2021-07-31   9322.309570   7482.045898  11162.573242
17 2021-08-01   9228.984375   7407.143555  11050.825195
18 2021-08-02   9592.912109   7699.230469  11486.593750
19 2021-08-03   9289.771484   7455.931152  11123.612305
20 2021-08-04   9253.873047   7427.119141  11080.626953
21 2021-08-05   9205.344727   7388.170410  11022.518555
22 2021-08-06   9310.598633   7472.646973  11148.550781
23 2021-08-07   9470.793945   7601.218750  11340.369141
24 2021-08-08   9354.896484   7508.200195  11201.592773
25 2021-08-09   9612.823242   7715.210938  11510.435547
26 2021-08-10   9372.767578   7522.543457  11222.992188
27 2021-08-11   9389.967773   7536.348145  11243.587891
28 2021-08-12   9542.995117   7659.166992  11426.823242
29 2021-08-13   9583.833008   7691.943359  11475.722656

##  NBeatsModel

In [26]:
n_beats = NBeatsModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)

In [27]:
n_beats.fit(data)
n_beats.predict(30)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15  10272.398438   7965.511230  12579.285156
1  2021-07-16  11184.761719   8672.984375  13696.539062
2  2021-07-17  11067.205078   8581.827148  13552.582031
3  2021-07-18  11671.572266   9050.470703  14292.672852
4  2021-07-19  11611.823242   9004.139648  14219.505859
5  2021-07-20  10955.768555   8495.416016  13416.120117
6  2021-07-21  10373.398438   8043.829590  12702.966797
7  2021-07-22  10732.993164   8322.669922  13143.315430
8  2021-07-23  10322.168945   8004.104980  12640.232422
9  2021-07-24  10557.044922   8186.234375  12927.854492
10 2021-07-25  10858.330078   8419.859375  13296.799805
11 2021-07-26  11074.650391   8587.600586  13561.699219
12 2021-07-27  10521.199219   8158.438477  12883.958984
13 2021-07-28   9732.274414   7546.684082  11917.864258
14 2021-07-29   9347.457031   7248.285645  11446.627930
15 2021-07-30   9120.565430   7072.347168  11168.783203
16 2021-07-31   9774.064453   7579.088867  11969.039062
17 2021-08-01   9550.243164   7405.531738  11694.954102
18 2021-08-02  10305.559570   7991.225586  12619.892578
19 2021-08-03  10972.398438   8508.311523  13436.484375
20 2021-08-04  10536.158203   8170.038574  12902.277344
21 2021-08-05  10349.786133   8025.520020  12674.051758
22 2021-08-06   9365.790039   7262.501465  11469.078125
23 2021-08-07   9166.457031   7107.933105  11224.980469
24 2021-08-08   8486.939453   6581.015625  10392.863281
25 2021-08-09   7914.307617   6136.980469   9691.634766
26 2021-08-10   6683.552246   5182.617676   8184.486816
27 2021-08-11   5727.558594   4441.312500   7013.804199
28 2021-08-12   5193.927246   4027.519775   6360.334473
29 2021-08-13   6198.225098   4806.280762   7590.168945

## TCNModel

In [28]:
tcn = TCNModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)

In [29]:
tcn.fit(data)
tcn.predict(30)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15  11688.364258   7920.665039  15456.062500
1  2021-07-16  10687.386719   7242.348633  14132.423828
2  2021-07-17  11546.291016   7824.388672  15268.192383
3  2021-07-18  11782.465820   7984.433105  15580.498047
4  2021-07-19  11610.870117   7868.150879  15353.588867
5  2021-07-20  12264.043945   8310.776367  16217.310547
6  2021-07-21  11419.899414   7738.738770  15101.059570
7  2021-07-22  10598.820312   7182.331543  14015.308594
8  2021-07-23  11025.179688   7471.255371  14579.103516
9  2021-07-24  10631.201172   7204.274414  14058.126953
10 2021-07-25   9998.793945   6775.721191  13221.866211
11 2021-07-26   9818.800781   6653.748047  12983.852539
12 2021-07-27  10101.541992   6845.348633  13357.734375
13 2021-07-28   9301.522461   6303.212402  12299.832031
14 2021-07-29   9289.501953   6295.066895  12283.936523
15 2021-07-30   8776.984375   5947.757324  11606.210938
16 2021-07-31   9074.778320   6149.558594  11999.998047
17 2021-08-01   8590.404297   5821.320312  11359.487305
18 2021-08-02   8272.304688   5605.759277  10938.849609
19 2021-08-03   9026.670898   6116.958496  11936.382812
20 2021-08-04   9045.331055   6129.603516  11961.058594
21 2021-08-05   8682.989258   5884.061035  11481.916992
22 2021-08-06   8633.993164   5850.858887  11417.126953
23 2021-08-07   8344.664062   5654.793945  11034.534180
24 2021-08-08   9287.238281   6293.532715  12280.943359
25 2021-08-09   8834.673828   5986.850586  11682.496094
26 2021-08-10   9629.361328   6525.373535  12733.348633
27 2021-08-11   9049.044922   6132.120117  11965.968750
28 2021-08-12   8850.349609   5997.473633  11703.225586
29 2021-08-13  10467.085938   7093.061035  13841.110352

## NHitsModel

In [30]:
n_hits = NHitsModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)

In [31]:
n_hits.fit(data)
n_hits.predict(30)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15  11207.983398   8469.210938  13946.756836
1  2021-07-16  11426.943359   8634.666016  14219.221680
2  2021-07-17  10941.923828   8268.165039  13615.682617
3  2021-07-18  10805.572266   8165.132812  13446.012695
4  2021-07-19  11093.601562   8382.779297  13804.424805
5  2021-07-20  10775.504883   8142.412598  13408.597656
6  2021-07-21  10525.598633   7953.573242  13097.625000
7  2021-07-22  10371.640625   7837.236328  12906.045898
8  2021-07-23  10273.091797   7762.768555  12783.416016
9  2021-07-24  10500.330078   7934.479004  13066.181641
10 2021-07-25  10618.099609   8023.470703  13212.729492
11 2021-07-26  10735.054688   8111.846680  13358.263672
12 2021-07-27  10235.300781   7734.211914  12736.389648
13 2021-07-28  10085.935547   7621.345703  12550.526367
14 2021-07-29   9969.289062   7533.202637  12405.375977
15 2021-07-30   9497.995117   7177.073730  11818.916992
16 2021-07-31   9685.981445   7319.124023  12052.839844
17 2021-08-01   9679.541016   7314.257324  12044.825195
18 2021-08-02   9818.788086   7419.478027  12218.098633
19 2021-08-03   9283.250977   7014.804199  11551.698242
20 2021-08-04   8838.277344   6678.563965  10997.991211
21 2021-08-05   8304.906250   6275.526855  10334.286133
22 2021-08-06   7947.873535   6005.738281   9890.008789
23 2021-08-07   7602.750488   5744.949219   9460.551758
24 2021-08-08   6818.579102   5152.397461   8484.760742
25 2021-08-09   6747.889648   5098.981445   8396.797852
26 2021-08-10   6869.207031   5190.653809   8547.760742
27 2021-08-11   6656.221680   5029.713379   8282.730469
28 2021-08-12   6837.111816   5166.401367   8507.822266
29 2021-08-13   7079.576172   5349.617676   8809.535156

## TFTModel

In [32]:
tft = TFTModel(time_col='date', target_col='type_a', lags=30, random_state=42, quantile=0.9)

In [33]:
tft.fit(data)
tft.predict(30)

         date       type_a  type_a_lower  type_a_upper
0  2021-07-15  2152.076904 -18890.138672  23194.292969
1  2021-07-16  2152.076660 -18890.136719  23194.289062
2  2021-07-17  2152.076660 -18890.136719  23194.289062
3  2021-07-18  2152.076660 -18890.136719  23194.289062
4  2021-07-19  2152.076660 -18890.136719  23194.289062
5  2021-07-20  2152.076904 -18890.138672  23194.292969
6  2021-07-21  2152.076904 -18890.138672  23194.292969
7  2021-07-22  2152.076660 -18890.136719  23194.289062
8  2021-07-23  2152.076660 -18890.136719  23194.289062
9  2021-07-24  2152.076660 -18890.136719  23194.289062
10 2021-07-25  2152.076660 -18890.136719  23194.289062
11 2021-07-26  2152.076660 -18890.136719  23194.289062
12 2021-07-27  2152.076660 -18890.136719  23194.289062
13 2021-07-28  2152.076904 -18890.138672  23194.292969
14 2021-07-29  2152.076660 -18890.136719  23194.289062
15 2021-07-30  2152.076660 -18890.136719  23194.289062
16 2021-07-31  2152.076660 -18890.136719  23194.289062
17 2021-08-01  2152.076660 -18890.136719  23194.289062
18 2021-08-02  2152.076660 -18890.136719  23194.289062
19 2021-08-03  2152.076660 -18890.136719  23194.289062
20 2021-08-04  2152.076660 -18890.136719  23194.289062
21 2021-08-05  2152.076660 -18890.136719  23194.289062
22 2021-08-06  2152.076660 -18890.136719  23194.289062
23 2021-08-07  2152.076660 -18890.136719  23194.289062
24 2021-08-08  2152.076904 -18890.138672  23194.292969
25 2021-08-09  2152.076660 -18890.136719  23194.289062
26 2021-08-10  2152.076660 -18890.136719  23194.289062
27 2021-08-11  2152.076660 -18890.136719  23194.289062
28 2021-08-12  2152.076416 -18890.134766  23194.287109
29 2021-08-13  2152.076660 -18890.136719  23194.289062

## GAU

In [4]:
from PipelineTS.nn_model import *

In [5]:
gau_model = GAUModel(time_col='date', target_col='type_a', lags=30, random_state=42, 
                     quantile=0.9, device='cpu', patience=100, verbose=True)
gau_model.fit(data, valid_data)

Using cpu backend
Epoch 1/1000
62/62 - p0 - loss: 2279.6980 - mae: 8824.5469 - val_loss: 997.0201 - val_mae: 997.0201 - 0.22s/epoch - 0.004s/step
Epoch 2/1000
62/62 - p0 - loss: 2679.0811 - mae: 7564.3237 - val_loss: 894.9512 - val_mae: 894.9512 - 0.19s/epoch - 0.003s/step
Epoch 3/1000
62/62 - p0 - loss: 2440.7502 - mae: 7177.9313 - val_loss: 833.5668 - val_mae: 833.5668 - 0.19s/epoch - 0.003s/step
Epoch 4/1000
62/62 - p1 - loss: 2529.2200 - mae: 7179.4312 - val_loss: 843.4922 - val_mae: 843.4922 - 0.18s/epoch - 0.003s/step
Epoch 5/1000
62/62 - p2 - loss: 2546.4729 - mae: 7120.2011 - val_loss: 909.0696 - val_mae: 909.0696 - 0.19s/epoch - 0.003s/step
Epoch 6/1000
62/62 - p3 - loss: 2554.9485 - mae: 7019.3629 - val_loss: 849.7239 - val_mae: 849.7238 - 0.19s/epoch - 0.003s/step
Epoch 7/1000
62/62 - p0 - loss: 2504.5815 - mae: 7009.7169 - val_loss: 816.3682 - val_mae: 816.3684 - 0.19s/epoch - 0.003s/step
Epoch 8/1000
62/62 - p0 - loss: 2543.0977 - mae: 6954.6010 - val_loss: 770.5613 - val_mae: 770.5614 - 0.18s/epoch - 0.003s/step
Epoch 9/1000
62/62 - p1 - loss: 2487.4622 - mae: 6904.0257 - val_loss: 776.3982 - val_mae: 776.3983 - 0.19s/epoch - 0.003s/step
Epoch 10/1000
62/62 - p0 - loss: 2568.0784 - mae: 6894.9430 - val_loss: 756.3200 - val_mae: 756.3199 - 0.18s/epoch - 0.003s/step
Epoch 11/1000
62/62 - p1 - loss: 2493.0049 - mae: 6815.7621 - val_loss: 786.6201 - val_mae: 786.6201 - 0.19s/epoch - 0.003s/step
Epoch 12/1000
62/62 - p2 -  [*lr: 0.006999999999999999] - loss: 2502.1411 - mae: 6850.6220 - val_loss: 805.5059 - val_mae: 805.5059 - 0.19s/epoch - 0.003s/step
Epoch 13/1000
62/62 - p0 -  [*lr: 0.006999999999999999] - loss: 2517.1492 - mae: 6334.6207 - val_loss: 559.6663 - val_mae: 559.6663 - 0.18s/epoch - 0.003s/step
Epoch 14/1000
62/62 - p1 -  [*lr: 0.006999999999999999] - loss: 2574.6794 - mae: 6050.3690 - val_loss: 583.7538 - val_mae: 583.7539 - 0.18s/epoch - 0.003s/step
Epoch 15/1000
62/62 - p2 -  [*lr: 0.006999999999999999] - loss: 2622.9785 - mae: 6042.6228 - val_loss: 609.6071 - val_mae: 609.6070 - 0.19s/epoch - 0.003s/step
Epoch 16/1000
62/62 - p3 -  [*lr: 0.006999999999999999] - loss: 2630.9597 - mae: 6031.7862 - val_loss: 634.5895 - val_mae: 634.5895 - 0.18s/epoch - 0.003s/step
Epoch 17/1000
62/62 - p4 -  [*lr: 0.006999999999999999] - loss: 2606.1448 - mae: 6007.3213 - val_loss: 573.9070 - val_mae: 573.9070 - 0.18s/epoch - 0.003s/step
Epoch 18/1000
62/62 - p5 -  [*lr: 0.006999999999999999] - loss: 2645.2202 - mae: 6013.6160 - val_loss: 600.4294 - val_mae: 600.4293 - 0.18s/epoch - 0.003s/step
Epoch 19/1000
62/62 - p6 -  [*lr: 0.006999999999999999] - loss: 2686.0535 - mae: 6006.1029 - val_loss: 619.4619 - val_mae: 619.4619 - 0.19s/epoch - 0.003s/step
Epoch 20/1000
62/62 - p7 -  [*lr: 0.006999999999999999] - loss: 2568.9180 - mae: 6019.3807 - val_loss: 613.5555 - val_mae: 613.5555 - 0.18s/epoch - 0.003s/step
Epoch 21/1000
62/62 - p8 -  [*lr: 0.006999999999999999] - loss: 2669.0601 - mae: 5988.7223 - val_loss: 638.1273 - val_mae: 638.1273 - 0.18s/epoch - 0.003s/step
Epoch 22/1000
62/62 - p9 -  [*lr: 0.006999999999999999] - loss: 2582.2783 - mae: 5966.8000 - val_loss: 560.5035 - val_mae: 560.5034 - 0.18s/epoch - 0.003s/step
Epoch 23/1000
62/62 - p10 -  [*lr: 0.004899999999999999] - loss: 2601.8049 - mae: 5956.7104 - val_loss: 590.0750 - val_mae: 590.0750 - 0.19s/epoch - 0.003s/step
Early stopping at epoch 22.

In [6]:
gau_model.predict(31)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15   9913.943359   8118.337531  11709.549188
1  2021-07-16   9976.311523   8169.409620  11783.213426
2  2021-07-17   9186.514648   7522.660151  10850.369146
3  2021-07-18   8298.921875   6795.827501   9802.016249
4  2021-07-19   9083.984375   7438.700082  10729.268668
5  2021-07-20   8420.651367   6895.509440   9945.793294
6  2021-07-21   8687.975586   7114.416101  10261.535071
7  2021-07-22   8338.649414   6828.359618   9848.939210
8  2021-07-23   8358.902344   6844.944353   9872.860335
9  2021-07-24   9515.394531   7791.973561  11238.815502
10 2021-07-25   9530.155273   7804.060849  11256.249698
11 2021-07-26   9890.058594   8098.778755  11681.338432
12 2021-07-27   9465.493164   7751.110291  11179.876037
13 2021-07-28   8911.115234   7297.140868  10525.089601
14 2021-07-29   9941.867188   8141.203816  11742.530559
15 2021-07-30   9858.014648   8072.538585  11643.490712
16 2021-07-31   9063.600586   7422.008189  10705.192983
17 2021-08-01   9587.347656   7850.894591  11323.800721
18 2021-08-02   9244.568359   7570.199218  10918.937501
19 2021-08-03   9199.652344   7533.418357  10865.886331
20 2021-08-04   9226.126953   7555.097905  10897.156001
21 2021-08-05   9612.158203   7871.211471  11353.104936
22 2021-08-06   9305.735352   7620.287691  10991.183012
23 2021-08-07   9944.770508   8143.581289  11745.959726
24 2021-08-08  10878.739258   8908.390335  12849.088181
25 2021-08-09   9984.604492   8176.200573  11793.008411
26 2021-08-10   9553.145508   7822.887110  11283.403906
27 2021-08-11   9311.379883   7624.909889  10997.849876
28 2021-08-12   9437.190430   7727.933726  11146.447133
29 2021-08-13   9545.342773   7816.497600  11274.187946
30 2021-08-14   9552.848633   7822.644004  11283.053261

## StackingRNN

In [7]:
rnn_model = StackingRNNModel(time_col='date', target_col='type_a', lags=30, random_state=42, 
                     quantile=0.9, device='cpu', patience=10, verbose=True, use_standard_scaler=True)
rnn_model.fit(data, valid_data)

Using cpu backend
Epoch 1/1000
62/62 - p0 - loss: 10211.0537 - mae: 27050.8503 - val_loss: 7974.4155 - val_mae: 7974.4160 - 0.52s/epoch - 0.008s/step
Epoch 2/1000
62/62 - p0 - loss: 8596.8486 - mae: 26101.1911 - val_loss: 6337.0879 - val_mae: 6337.0869 - 0.50s/epoch - 0.008s/step
Epoch 3/1000
62/62 - p0 - loss: 5278.8999 - mae: 23673.1009 - val_loss: 2986.6169 - val_mae: 2986.6172 - 0.51s/epoch - 0.008s/step
Epoch 4/1000
62/62 - p0 - loss: 1550.8651 - mae: 19443.2578 - val_loss: 2420.5244 - val_mae: 2420.5244 - 0.51s/epoch - 0.008s/step
Epoch 5/1000
62/62 - p1 - loss: 6379.6509 - mae: 14799.7443 - val_loss: 8515.8027 - val_mae: 8515.8027 - 0.50s/epoch - 0.008s/step
Epoch 6/1000
62/62 - p2 - loss: 11522.0908 - mae: 11850.9023 - val_loss: 13639.9287 - val_mae: 13639.9277 - 0.50s/epoch - 0.008s/step
Epoch 7/1000
62/62 - p3 - loss: 15776.5859 - mae: 10047.8209 - val_loss: 17854.3574 - val_mae: 17854.3613 - 0.50s/epoch - 0.008s/step
Epoch 8/1000
62/62 - p4 - loss: 16858.5527 - mae: 9065.3885 - val_loss: 18919.5410 - val_mae: 18919.5449 - 0.50s/epoch - 0.008s/step
Epoch 9/1000
62/62 - p5 - loss: 17321.1660 - mae: 9016.4004 - val_loss: 19381.1953 - val_mae: 19381.1953 - 0.49s/epoch - 0.008s/step
Epoch 10/1000
62/62 - p6 - loss: 17357.6523 - mae: 8980.0386 - val_loss: 19418.6250 - val_mae: 19418.6270 - 0.49s/epoch - 0.008s/step
Epoch 11/1000
62/62 - p7 - loss: 17352.9707 - mae: 8976.1509 - val_loss: 19415.1934 - val_mae: 19415.1934 - 0.49s/epoch - 0.008s/step
Epoch 12/1000
62/62 - p8 - loss: 17359.1465 - mae: 8975.7742 - val_loss: 19422.3535 - val_mae: 19422.3516 - 0.49s/epoch - 0.008s/step
Epoch 13/1000
62/62 - p9 - loss: 17359.5391 - mae: 8974.7405 - val_loss: 19423.8984 - val_mae: 19423.9004 - 0.50s/epoch - 0.008s/step
Epoch 14/1000
62/62 - p10 - loss: 17363.0176 - mae: 8974.6441 - val_loss: 19428.0918 - val_mae: 19428.0898 - 0.50s/epoch - 0.008s/step
Early stopping at epoch 13.

In [8]:
rnn_model.predict(31)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15  10784.322266    791.308714  20777.335817
1  2021-07-16  10740.674805    788.106045  20693.243565
2  2021-07-17  10746.267578    788.516419  20704.018737
3  2021-07-18  10787.979492    791.577066  20784.381918
4  2021-07-19  10748.519531    788.681658  20708.357404
5  2021-07-20  10755.156250    789.168633  20721.143867
6  2021-07-21  10781.309570    791.087655  20771.531486
7  2021-07-22  10766.059570    789.968673  20742.150467
8  2021-07-23  10778.210938    790.860290  20765.561585
9  2021-07-24  10742.849609    788.265623  20697.433596
10 2021-07-25  10706.128906    785.571210  20626.686602
11 2021-07-26  10695.346680    784.780056  20605.913304
12 2021-07-27  10703.339844    785.366561  20621.313127
13 2021-07-28  10692.959961    784.604928  20601.314994
14 2021-07-29  10734.738281    787.670447  20681.806115
15 2021-07-30  10686.577148    784.136584  20589.017713
16 2021-07-31  10685.425781    784.052101  20586.799461
17 2021-08-01  10710.057617    785.859483  20634.255751
18 2021-08-02  10712.200195    786.016696  20638.383694
19 2021-08-03  10693.671875    784.657165  20602.686585
20 2021-08-04  10695.728516    784.808073  20606.648958
21 2021-08-05  10717.729492    786.422413  20649.036571
22 2021-08-06  10700.642578    785.168647  20616.116510
23 2021-08-07  10744.845703    788.412088  20701.279318
24 2021-08-08  10726.808594    787.088600  20666.528588
25 2021-08-09  10750.948242    788.859867  20713.036617
26 2021-08-10  10734.277344    787.636626  20680.918062
27 2021-08-11  10771.401367    790.360632  20752.442102
28 2021-08-12  10781.185547    791.078555  20771.292539
29 2021-08-13  10770.306641    790.280306  20750.332976
30 2021-08-14  10770.316406    790.281022  20750.351790

## Time2Vec

In [9]:
time2vec_model = Time2VecModel(time_col='date', target_col='type_a', lags=30, random_state=42, 
                     quantile=0.9, device='cpu', patience=10, verbose=True)
time2vec_model.fit(data, valid_data)

Using cpu backend
Epoch 1/1000
62/62 - p0 - loss: 2070.5344 - mae: 8664.4192 - val_loss: 1232.7745 - val_mae: 1232.7747 - 0.24s/epoch - 0.004s/step
Epoch 2/1000
62/62 - p0 - loss: 2744.4741 - mae: 7622.5519 - val_loss: 934.9744 - val_mae: 934.9744 - 0.24s/epoch - 0.004s/step
Epoch 3/1000
62/62 - p0 - loss: 2778.8848 - mae: 7201.0429 - val_loss: 580.3691 - val_mae: 580.3691 - 0.24s/epoch - 0.004s/step
Epoch 4/1000
62/62 - p0 - loss: 2701.6162 - mae: 6563.3655 - val_loss: 479.7181 - val_mae: 479.7181 - 0.24s/epoch - 0.004s/step
Epoch 5/1000
62/62 - p0 - loss: 2486.6365 - mae: 6491.6393 - val_loss: 473.1888 - val_mae: 473.1888 - 0.24s/epoch - 0.004s/step
Epoch 6/1000
62/62 - p1 - loss: 2437.4285 - mae: 6307.7085 - val_loss: 505.1319 - val_mae: 505.1319 - 0.24s/epoch - 0.004s/step
Epoch 7/1000
62/62 - p2 - loss: 2454.4146 - mae: 6312.5639 - val_loss: 522.7848 - val_mae: 522.7848 - 0.24s/epoch - 0.004s/step
Epoch 8/1000
62/62 - p3 - loss: 2492.0991 - mae: 6083.8634 - val_loss: 491.8642 - val_mae: 491.8642 - 0.24s/epoch - 0.004s/step
Epoch 9/1000
62/62 - p4 - loss: 2480.3809 - mae: 5996.4114 - val_loss: 510.3219 - val_mae: 510.3219 - 0.24s/epoch - 0.004s/step
Epoch 10/1000
62/62 - p5 - loss: 2455.1812 - mae: 5999.0391 - val_loss: 488.0693 - val_mae: 488.0693 - 0.24s/epoch - 0.004s/step
Epoch 11/1000
62/62 - p0 - loss: 2422.1638 - mae: 6025.3467 - val_loss: 436.1917 - val_mae: 436.1916 - 0.24s/epoch - 0.004s/step
Epoch 12/1000
62/62 - p1 -  [*lr: 0.006999999999999999] - loss: 2426.6624 - mae: 5982.3157 - val_loss: 494.3124 - val_mae: 494.3124 - 0.24s/epoch - 0.004s/step
Epoch 13/1000
62/62 - p2 -  [*lr: 0.006999999999999999] - loss: 2495.7908 - mae: 5843.0740 - val_loss: 475.9922 - val_mae: 475.9922 - 0.24s/epoch - 0.004s/step
Epoch 14/1000
62/62 - p3 -  [*lr: 0.006999999999999999] - loss: 2463.9919 - mae: 5807.6117 - val_loss: 470.0806 - val_mae: 470.0806 - 0.24s/epoch - 0.004s/step
Epoch 15/1000
62/62 - p4 -  [*lr: 0.006999999999999999] - loss: 2368.0151 - mae: 5773.3257 - val_loss: 436.7147 - val_mae: 436.7147 - 0.24s/epoch - 0.004s/step
Epoch 16/1000
62/62 - p5 -  [*lr: 0.006999999999999999] - loss: 2573.3032 - mae: 5820.5454 - val_loss: 507.6265 - val_mae: 507.6265 - 0.24s/epoch - 0.004s/step
Epoch 17/1000
62/62 - p6 -  [*lr: 0.006999999999999999] - loss: 2452.1733 - mae: 5835.2821 - val_loss: 470.3179 - val_mae: 470.3179 - 0.24s/epoch - 0.004s/step
Epoch 18/1000
62/62 - p7 -  [*lr: 0.006999999999999999] - loss: 2444.5459 - mae: 5805.0995 - val_loss: 451.9330 - val_mae: 451.9330 - 0.24s/epoch - 0.004s/step
Epoch 19/1000
62/62 - p8 -  [*lr: 0.006999999999999999] - loss: 2509.5356 - mae: 5803.8647 - val_loss: 474.9015 - val_mae: 474.9015 - 0.24s/epoch - 0.004s/step
Epoch 20/1000
62/62 - p9 -  [*lr: 0.006999999999999999] - loss: 2541.7324 - mae: 5803.1910 - val_loss: 500.2228 - val_mae: 500.2228 - 0.24s/epoch - 0.004s/step
Epoch 21/1000
62/62 - p10 -  [*lr: 0.006999999999999999] - loss: 2456.2651 - mae: 5755.3530 - val_loss: 466.6770 - val_mae: 466.6770 - 0.24s/epoch - 0.004s/step
Early stopping at epoch 20.

In [10]:
time2vec_model.predict(31)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15   9193.344727   7843.466473  10543.222980
1  2021-07-16   8872.250977   7569.519597  10174.982356
2  2021-07-17   8951.838867   7637.421430  10266.256305
3  2021-07-18   9181.779297   7833.599220  10529.959374
4  2021-07-19   9575.614258   8169.606560  10981.621956
5  2021-07-20   9677.299805   8256.361403  11098.238206
6  2021-07-21   9743.314453   8312.682981  11173.945925
7  2021-07-22   9876.368164   8426.200134  11326.536194
8  2021-07-23  10199.241211   8701.665048  11696.817373
9  2021-07-24  10086.958008   8605.868626  11568.047390
10 2021-07-25  10501.158203   8959.250930  12043.065476
11 2021-07-26  10033.361328   8560.141660  11506.580997
12 2021-07-27  10162.870117   8670.634399  11655.105835
13 2021-07-28   9814.144531   8373.112929  11255.176134
14 2021-07-29   9684.214844   8262.261092  11106.168595
15 2021-07-30   9454.518555   8066.291595  10842.745514
16 2021-07-31   9594.744141   8185.927562  11003.560720
17 2021-08-01   9743.088867   8312.490518  11173.687216
18 2021-08-02   9650.450195   8233.454179  11067.446212
19 2021-08-03   9699.346680   8275.171089  11123.522271
20 2021-08-04   9663.680664   8244.741990  11082.619339
21 2021-08-05   9538.899414   8138.282634  10939.516194
22 2021-08-06   9656.301758   8238.446544  11074.156972
23 2021-08-07   9803.226562   8363.798069  11242.655056
24 2021-08-08   9781.062500   8344.888402  11217.236598
25 2021-08-09   9398.114258   8018.169261  10778.059255
26 2021-08-10   9458.254883   8069.479310  10847.030455
27 2021-08-11   9468.713867   8078.402580  10859.025154
28 2021-08-12   9469.714844   8079.256581  10860.173107
29 2021-08-13   9531.711914   8132.150490  10931.273338
30 2021-08-14   9471.928711   8081.145381  10862.712041

## TransformerModel

In [5]:
transformer = TransformerModel(time_col='date', target_col='type_a', lags=30, random_state=42, 
                               quantile=0.9, enable_progress_bar=True, enable_model_summary=True)

In [ ]:
transformer.fit(data)

  | Name                | Type                | Params
------------------------------------------------------------
0 | criterion           | MSELoss             | 0
1 | train_metrics       | MetricCollection    | 0
2 | val_metrics         | MetricCollection    | 0
3 | encoder             | Linear              | 128
4 | positional_encoding | _PositionalEncoding | 0
5 | transformer         | Transformer         | 548 K
6 | decoder             | Linear              | 1.9 K
------------------------------------------------------------
550 K     Trainable params
0         Non-trainable params
550 K     Total params
2.203     Total estimated model params size (MB)

Training: 0it [00:00, ?it/s]

  | Name                | Type                | Params
------------------------------------------------------------
0 | criterion           | MSELoss             | 0
1 | train_metrics       | MetricCollection    | 0
2 | val_metrics         | MetricCollection    | 0
3 | encoder             | Linear              | 128
4 | positional_encoding | _PositionalEncoding | 0
5 | transformer         | Transformer         | 548 K
6 | decoder             | Linear              | 1.9 K
------------------------------------------------------------
550 K     Trainable params
0         Non-trainable params
550 K     Total params
2.203     Total estimated model params size (MB)

Training: 0it [00:00, ?it/s]

Predicting: 0it [00:00, ?it/s]

  | Name                | Type                | Params
------------------------------------------------------------
0 | criterion           | MSELoss             | 0
1 | train_metrics       | MetricCollection    | 0
2 | val_metrics         | MetricCollection    | 0
3 | encoder             | Linear              | 128
4 | positional_encoding | _PositionalEncoding | 0
5 | transformer         | Transformer         | 548 K
6 | decoder             | Linear              | 1.9 K
------------------------------------------------------------
550 K     Trainable params
0         Non-trainable params
550 K     Total params
2.203     Total estimated model params size (MB)

Training: 0it [00:00, ?it/s]

Predicting: 0it [00:00, ?it/s]

  | Name                | Type                | Params
------------------------------------------------------------
0 | criterion           | MSELoss             | 0
1 | train_metrics       | MetricCollection    | 0
2 | val_metrics         | MetricCollection    | 0
3 | encoder             | Linear              | 128
4 | positional_encoding | _PositionalEncoding | 0
5 | transformer         | Transformer         | 548 K
6 | decoder             | Linear              | 1.9 K
------------------------------------------------------------
550 K     Trainable params
0         Non-trainable params
550 K     Total params
2.203     Total estimated model params size (MB)

Training: 0it [00:00, ?it/s]

In [ ]:
transformer.predict(31)

# MultiOutputRegressorModel

In [6]:
from PipelineTS.ml_model import MultiOutputRegressorModel

In [7]:
from xgboost import XGBRegressor

mor_model = MultiOutputRegressorModel(time_col='date', target_col='type_a', lags=30, random_state=42, 
                     quantile=0.9, estimator=XGBRegressor)
mor_model.fit(data)

In [8]:
mor_model.predict(31)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15  10239.683594   8479.528481  11999.838707
1  2021-07-16  12448.630859  10308.767742  14588.493977
2  2021-07-17  11585.619141   9594.103819  13577.134462
3  2021-07-18  12246.194336  10141.129138  14351.259534
4  2021-07-19  12731.150391  10542.723449  14919.577332
5  2021-07-20  12518.515625  10366.639634  14670.391616
6  2021-07-21  13183.864258  10917.617858  15450.110658
7  2021-07-22  12402.720703  10270.749333  14534.692073
8  2021-07-23  11575.401367   9585.642434  13565.160300
9  2021-07-24  11677.517578   9670.205332  13684.829824
10 2021-07-25  11276.060547   9337.756942  13214.364152
11 2021-07-26  10448.514648   8652.462426  12244.566871
12 2021-07-27  10639.305664   8810.457332  12468.153996
13 2021-07-28  10846.540039   8982.069059  12711.011019
14 2021-07-29   9627.770508   7972.800476  11282.740540
15 2021-07-30  10101.756836   8365.310706  11838.202965
16 2021-07-31   9393.679688   7778.948805  11008.410570
17 2021-08-01   9696.304688   8029.553941  11363.055434
18 2021-08-02   8901.081055   7371.025640  10431.136469
19 2021-08-03   9176.073242   7598.747919  10753.398565
20 2021-08-04   9474.015625   7845.475359  11102.555891
21 2021-08-05   9276.774414   7682.139017  10871.409811
22 2021-08-06   9375.716797   7764.073653  10987.359940
23 2021-08-07   9534.858398   7895.859536  11173.857261
24 2021-08-08   9505.958984   7871.927800  11139.990169
25 2021-08-09  10186.826172   8435.757010  11937.895334
26 2021-08-10   9914.144531   8209.948105  11618.340957
27 2021-08-11  10684.970703   8848.272758  12521.668648
28 2021-08-12   9971.625000   8257.547942  11685.702058
29 2021-08-13   9898.950195   8197.365606  11600.534784
30 2021-08-14  13502.195312  11181.229250  15823.161375

# MultiStepRegressorModel

In [4]:
from PipelineTS.ml_model.multi_output_model import MultiStepRegressorModel
from xgboost import XGBRegressor

msr_model = MultiStepRegressorModel(time_col='date', target_col='type_a', lags=30, random_state=42, 
                     quantile=0.9, estimator=XGBRegressor)
msr_model.fit(data)

In [5]:
msr_model.predict(31)

         date        type_a  type_a_lower  type_a_upper
0  2021-07-15  10239.683594   8524.521390  11954.845797
1  2021-07-16  11958.166992   9955.156268  13961.177716
2  2021-07-17  11706.451172   9745.603221  13667.299122
3  2021-07-18  11311.289062   9416.631352  13205.946773
4  2021-07-19  11581.852539   9641.875045  13521.830034
5  2021-07-20  11520.117188   9590.480456  13449.753919
6  2021-07-21  11327.683594   9430.279775  13225.087413
7  2021-07-22  11566.968750   9629.484312  13504.453188
8  2021-07-23  10466.619141   8713.444896  12219.793385
9  2021-07-24   9852.848633   8202.481860  11503.215406
10 2021-07-25  11193.209961   9318.330675  13068.089247
11 2021-07-26  11995.560547   9986.286347  14004.834747
12 2021-07-27  14001.399414  11656.144226  16346.654602
13 2021-07-28  15840.380859  13187.093549  18493.668170
14 2021-07-29  15567.834961  12960.199493  18175.470429
15 2021-07-30  15604.322266  12990.575120  18218.069411
16 2021-07-31  14677.891602  12219.322968  17136.460235
17 2021-08-01  14280.811523  11888.754392  16672.868655
18 2021-08-02  13991.423828  11647.839566  16335.008091
19 2021-08-03  13724.788086  11425.865706  16023.710466
20 2021-08-04  14275.065430  11883.970778  16666.160082
21 2021-08-05  14049.106445  11695.860259  16402.352632
22 2021-08-06  13855.273438  11534.494567  16176.052308
23 2021-08-07  14104.416016  11741.905394  16466.926637
24 2021-08-08  13820.970703  11505.937592  16136.003814
25 2021-08-09  14288.761719  11895.372918  16682.150519
26 2021-08-10  14485.536133  12059.187326  16911.884940
27 2021-08-11  15609.221680  12994.653875  18223.789484
28 2021-08-12  14987.632812  12477.182066  17498.083559
29 2021-08-13  14348.920898  11945.455346  16752.386451
30 2021-08-14  14301.313477  11905.822238  16696.804715